__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.git
.gitignore
.vscode/
backend/__pycache__/
backend/tests/__pycache__/
ml/__pycache__/
env/
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.pytest_cache/
